#book{
    height: 200px;
}
.header-cont{
    padding: 130px 100px;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(90deg, white, rgba(77,107,226,0.52));
    font-family: var(--font-family2);
    gap: 150px;
}