*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg-color:rgba(255, 68, 0, 0.858);
  --bg-blue:rgba(17, 17, 232, 0.777);
  --box-shadow:0px 0px 6px 0.19px rgb(0, 0, 0,0.23);
  --font-family1: "Playwrite DE Grund", cursive;
  --font-family2: "Nunito", sans-serif;;
  --main-bg: rgba(77,107,226);
}
button{
  transition: all 0.2s ease-in-out;
}
button:hover{
  transform: scale(1.07);
  box-shadow: var(--box-shadow);
}
#next{
  filter: invert(1);
}
